@import "../../../Styles/globalColor";

.section {
  margin: 16px 0 20px 24px;
}

.inputContainer {
  margin-right: 100px;
}

.title {
  color: $orange-500 !important;
}

.selectContianer {
  width: 300px;
}
