$background: #f6f6f6;
$white: #ffffff;
$gray-200: #a9a9b0;
$gray-400: #535261;
$gray-300: #7e7d88;
$gray-500: #282739;
$orange-400: #ff9138;
$orange-500: #ff7506;
$orange-600: #bf5805;
$orange-50: #fff2e7;
