@import "../../../Styles/globalColor";

.section {
  margin: 16px 63px 20px 24px;
}

.title {
  color: $orange-500 !important;
}

.buttonContainer {
  margin-top: 46px;
}

.button {
  height: 48px;
  width: 147px;
}
