@import "../../../Styles/globalColor";

.avatarContainer {
  margin-top: 16px;
  position: relative;
}

.icon {
  position: absolute;
  font-size: 45px;
  top: 202px;
  left: 171px;
}

.title {
  margin-top: 20px;
  text-align: center;
}
