@import "../../../Styles/globalColor";

.section {
  margin: 79px 63px 20px 24px;
}

.title {
  color: $orange-500 !important;
}

.inputContainer {
  margin-right: 100px;
}

.selectContianer {
  width: 154px;
}

.cardCheckBox {
  background-color: $orange-50;
  height: 420px;
  overflow-y: scroll;
}

.buttonContainer {
  margin-top: 24px;
}

.button {
  height: 48px;
  width: 115px;
}

.checkbox {
  margin-bottom: 12px;
}

.checkBoxLabel {
  font-weight: 600;
  font-size: 16px;
  color: $gray-400;
}
