* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Calendar__monthArrow {
  background-image: url("./Assets/arrow.svg") !important;
  background-size: 20px 20px !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 43px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc89b;
  border-radius: 43px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9138;
}
